<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
{% autoescape off %}
{% spaceless %}
<html lang="en">
<head>
<style  type="text/css">
ul
{
    list-style-type: none;
}
</style>
<title>
{% block title %}
    {{ title_string }}
{% endblock %}
</title>
<script src="/temp/static_images/jquery-3.2.1.slim.min.js" type="text/javascript"></script>
<script>
$(document).ready(function(){
    $('*[name="hideable_div"]').css('display', 'none');
    $('#introDiv').css('display', 'block');
    $('#s1').prop('selectedIndex', 1); $('#s1').change(f1);
    $('#s2').prop('selectedIndex', 1); $('#s2').change(f2);
    $('#s3').prop('selectedIndex', 1); $('#s3').change(f3);
    $('#s4').prop('selectedIndex', 1); $('#s4').change(f4);
{% block additional_jquery_ready_code %}{% endblock %}
});
function f1() {
    $('*[name="hideable_div"]').css('display', 'none');
    $('#' + $('#s1 option:selected').val()).css('display', 'block');
    if ($('#s1').prop('selectedIndex') == 1) {
        $('#s2').prop('selectedIndex', 1);
        $('#s3').prop('selectedIndex', 1);
        $('#s4').prop('selectedIndex', 1);
    } else {
        $('#s2').prop('selectedIndex', 0);
        $('#s3').prop('selectedIndex', 0);
        $('#s4').prop('selectedIndex', 0);
    }
    $('#s1').blur();
};
function f2() {
    $('*[name="hideable_div"]').css('display', 'none');
    $('#' + $('#s2 option:selected').val()).css('display', 'block');
    if ($('#s2').prop('selectedIndex') == 1) {
        $('#s1').prop('selectedIndex', 1);
        $('#s3').prop('selectedIndex', 1);
        $('#s4').prop('selectedIndex', 1);
    } else {
        $('#s1').prop('selectedIndex', 0);
        $('#s3').prop('selectedIndex', 0);
        $('#s4').prop('selectedIndex', 0);
    }
    $('#s2').blur();
};
function f3() {
    $('*[name="hideable_div"]').css('display', 'none');
    $('#' + $('#s3 option:selected').val()).css('display', 'block');
    if ($('#s3').prop('selectedIndex') == 1) {
        $('#s1').prop('selectedIndex', 1);
        $('#s2').prop('selectedIndex', 1);
        $('#s4').prop('selectedIndex', 1);
    } else {
        $('#s1').prop('selectedIndex', 0);
        $('#s2').prop('selectedIndex', 0);
        $('#s4').prop('selectedIndex', 0);
    }
    $('#s3').blur();
};
function f4() {
    $('*[name="hideable_div"]').css('display', 'none');
    $('#' + $('#s4 option:selected').val()).css('display', 'block');
    if ($('#s4').prop('selectedIndex') == 1) {
        $('#s1').prop('selectedIndex', 1);
        $('#s2').prop('selectedIndex', 1);
        $('#s3').prop('selectedIndex', 1);
    } else  {
        $('#s1').prop('selectedIndex', 0);
        $('#s2').prop('selectedIndex', 0);
        $('#s3').prop('selectedIndex', 0);
    }
    $('#s4').blur();
};
{% block additional_javascript %}{% endblock %}
</script>
{% block css_definitions %}{% endblock %}
{% block meta_tag_definitions %}{% endblock %}
{% block icon_links %}{% endblock %}
</head>
<body {% block within_body_opening_html_tag %}{% endblock %}>

<TABLE ALIGN="CENTER">
<TR>
<TD><IMG SRC="/temp/static_images/small_logo.png" ALT="Logo" BORDER="0"></TD>
<TD> &nbsp; </TD>
<TD ALIGN="CENTER"><B>{{ header_text }}</B></TD>
<TD> &nbsp; </TD>
<TD><IMG SRC="/temp/static_images/small_logo.png" ALT="Logo" BORDER="0"></TD>
</TR>
</TABLE>

{% block body_contents %}{% endblock %}

<div align='center' style="display:block;" id='page_footer'>
<BR>
<BR>
<BR>
<HR WIDTH='20%'>
<HR WIDTH='35%'>
<HR WIDTH='50%'>
<br>
<br>
<br>
<br>
<br>
<center>
Curve fitting and surface fitting web application source code<br>
<a href=https://bitbucket.org/zunzuncode/zunzunsite3>Django (this site)</a>
&nbsp;
<a href=https://bitbucket.org/zunzuncode/zunzunsite>Django (Python 2)</a>
&nbsp;
<a href=https://bitbucket.org/zunzuncode/FlaskFit>Flask</a>
&nbsp;
<a href=https://bitbucket.org/zunzuncode/CherryPyFit>CherryPy</a>
&nbsp;
<a href=https://bitbucket.org/zunzuncode/BottleFit>Bottle</a><br>
<br>
Curve fitting and surface fitting GUI application source code<br>
<a href=https://bitbucket.org/zunzuncode/tkinterFit>tkinter</a>
&nbsp;
<a href=https://bitbucket.org/zunzuncode/pyQt5Fit>pyQt5</a>
&nbsp;
<a href=https://bitbucket.org/zunzuncode/pyGtkFit>pyGtk</a>
&nbsp;
<a href=https://bitbucket.org/zunzuncode/wxPythonFit>wxPython</a><br>
<br>
Miscellaneous application source code<br>
<a href=https://bitbucket.org/zunzuncode/CommonProblems>Animated Confidence Intervals</a><br>
<a href=https://bitbucket.org/zunzuncode/RamanSpectroscopyFit>Initial Fitting Parameters</a><br>
<a href=https://bitbucket.org/zunzuncode/tkinterStatsDistroFit>Multiple Statistical Distributions Fitter</a><br>
<br>
Core fitting library source code<br>
<a href=https://bitbucket.org/zunzuncode/pyeq2>pyeq2  (Python 2)</a>
&nbsp;
<a href=https://bitbucket.org/zunzuncode/pyeq3>pyeq3</a><br>
<br>
<br>
<a href='/temp/static_images/AdditionalInfo.html' target="_blank">Link to additional information and history</a>
<br><br>
</center>
<HR WIDTH='50%'>
<HR WIDTH='35%'>
<HR WIDTH='20%'>
<BR>
<BR>
</div>

</body>
</html>
{% endspaceless %}
{% endautoescape %}
